@inherits MainLayoutBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" hidden="@IsLoginHidden">
            <a href="/login" class="ml-md-auto" @onclick="OnLoggedInAsync">로그인</a>
        </div>
        <div class="top-row px-4" hidden="@IsLogoutHidden">
            <a href="/logout" class="ml-md-auto" @onclick="OnLoggedOutAsync">로그아웃</a>
        </div>

        <div class="content px-4">
            로그인? @IsAuthenticated <br>
            로그인 정보<br>
            @LogInDetails
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
