<ul>
  <li>
    <strong>1주차</strong>: 7월 19일 (월) 저녁 8시 / 진미나
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-platform/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Introduction to Microsoft Power Platform</a></li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-common-data-service/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Dataverse 소개</a></li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-apps/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Introduction to Power Apps</a></li>
    </ul>
  </li>
  <li>
    <strong>2주차</strong>: 7월 26일 (월) 저녁 8시 / 유저스틴
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/build-app-solution/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">How to build a canvas app</a></li>
    </ul>
  </li>
  <li>
    <strong>3주차</strong>: 8월 2일 (월) 저녁 8시
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/how-build-model-driven-app/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">How to build a model-driven app</a> / 진미나</li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-apps-portals/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Introduction to Power Apps portals</a> / 유저스틴</li>
    </ul>
  </li>
  <li>
    <strong>4주차</strong>: 8월 9일 (월) 저녁 8시
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-automate/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Introduction to Power Automate</a> / 유저스틴</li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/build-automated-solution/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">How to build an automated solution</a> / 진미나</li>
    </ul>
  </li>
  <li>
    <strong>5주차</strong>: 8월 16일 (월) 저녁 8시
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-bi/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Power BI 소개</a> / 유저스틴</li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/build-simple-dashboard/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">간단한 대시보드를 빌드하는 방법</a> / 진미나</li>
    </ul>
  </li>
  <li>
    <strong>6주차</strong>: 8월 23일 (월) 저녁 8시
    <ul>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/introduction-power-virtual-agents/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">Introduction to Power Virtual Agents</a> / 유저스틴</li>
      <li><a href="https://docs.microsoft.com/ko-kr/learn/modules/how-build-basic-chatbot/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">How to build a basic chatbot</a> / 진미나</li>
    </ul>
  </li>
  <li>
    <strong>6주차</strong>: 8월 24일 (화) 오후 2시
    <ul>
      <li><a href="https://mktoevents.com/Microsoft+Event/284452/157-GQE-382" target="_blank" style="color:#5B0277; text-decoration:underline;">파워 플랫폼 버추얼 트레이닝 데이</a> / Microsoft</li>
      <li>수강후 무료 자격증 시험 받고 곧바로 <a href="https://docs.microsoft.com/ko-kr/learn/certifications/power-platform-fundamentals/?WT.mc_id=power-33676-juyoo" target="_blank" style="color:#5B0277; text-decoration:underline;">PL-900 자격증 시험</a> 보세요!</li>
    </ul>
  </li>
  <li>8월 30일 (월) 저녁 8시: 7주차 / 진미나 & 유저스틴
    <ul>
      <li>회고: 과정 & 자격증 시험</li>
    </ul>
  </li>
</ul>
