<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>퓨전 개발자 스터디 - {{studyName}}</title>
  <style type="text/css">
    body {
      font-family: "맑은 고딕", "Malgun Gothic", "맑은 고딕", "Apple SD 산돌고딕 Neo", "AppleGothic", "Segoe UI", Helvetica, Tahoma, Verdana, sans-serif;
    }
  </style>
</head>

<body style="margin:0; padding:0; background-color:#F2F2F2;">
  <center>
    <table width="780" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
      <tr>
        <td colspan="3" height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
      </tr>

      <tr>
        <td colspan="3" align="center" valign="top">

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" valign="top">

                <img src="https://fusiondev.kr/images/top-banner-780x160@2.png" width="780" height="160" style="margin:0; padding:0; border:none; display:block;" border="0" alt="퓨전 개발자 스터디 배너" />

              </td>
            </tr>
          </table>

        </td>
      </tr>

      <tr>
        <td colspan="3" height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
      </tr>

      <tr>
        <td width="10"></td>
        <td align="center" valign="top">

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="left" valign="top">

                <p>안녕하세요,</p>
                <p>&nbsp;</p>
                <p>제출하신 이메일 주소&ndash;<strong>{{email}}</strong>&ndash;는 퓨전 개발자 스터디, {{studyName}} 과정에 등록하신 이메일 주소가 아닙니다. 다시 한 번 확인해 주세요!</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>퓨전 개발자 스터디 그룹 | <a href="https://fusiondev.kr" target="_blank" style="color:#5B0277; text-decoration:underline;">fusiondev.kr</a> | <a href="mailto:study@fusiondev.kr" target="_blank" style="color:#5B0277; text-decoration:underline;">study@fusiondev.kr</a></p>
                <p>&nbsp;</p>
                <ul>
                  <li>퓨전 개발자 스터디 행동 강령 (Code of Conduct): <a href="https://github.com/fusiondevkr/{{course}}/blob/main/CODE_OF_CONDUCT.md" target="_blank" style="color:#5B0277; text-decoration:underline;">링크</a></li>
                  <li>퓨전 개발자 스터디 개인정보 보호정책: <a href="https://github.com/fusiondevkr/{{course}}/blob/main/PRIVACY_POLICY.md" target="_blank" style="color:#5B0277; text-decoration:underline;">링크</a></li>
                </ul>

              </td>
            </tr>
          </table>

        </td>
        <td width="10">&nbsp;</td>
      </tr>

      <tr>
        <td colspan="3" height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
      </tr>
    </table>

  </center>
</body>

</html>
